<div ng-controller="SampleCtrl">
                 
    <div class="ibm-columns">
        <div class="ibm-col-1-1">

             <div data-widget="showhide" data-type="panel" class="ibm-show-hide cloud-show-hide"  northstar-angular-construct>
                <h2 class="ibm-h4">我的案件</h2>
                <div class="ibm-container-body">
                    <div class="ibm-columns ibm-padding-top-2">
                        <div class="ibm-col-4-2">
                            <p class="ibm-textcolor-gray-50 ibm-cloud-ajfw-sum ibm-padding-top-1">总计<br /><span class="ibm-h1 ibm-large">771</span> 件</p>
                        </div>
                        
                        <div class="ibm-col-4-1 ibm-padding-top-1">
                            <p class="ibm-small ibm-textcolor-gray-50">本日新增服务案件: <span>0</span>件</p>
                            <p class="ibm-small ibm-textcolor-gray-50">本周服务案件: <span>0</span>件</p>
                            <p class="ibm-small ibm-textcolor-gray-50">我的追踪案件: <span>0</span>件</p>
                        </div>
                        <div class="ibm-col-4-1 ibm-padding-top-1">
                            <p class="ibm-small ibm-textcolor-gray-50">处理中案件: <span>0</span>件</p>
                            <p class="ibm-small ibm-textcolor-gray-50">SLA逾时案件: <span>0</span>件</p>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>  
     <div class="ibm-band ibm-padding-bottom-0 ibm-padding-top-0">
        <div class="ibm-columns ibm-padding-bottom-0">
            <div class="ibm-col-1-1">

                 <div data-widget="showhide" data-type="panel" class="ibm-show-hide cloud-show-hide" northstar-angular-construct>
                    <h2 class="ibm-h4">筛选案件</h2>
                    <div class="ibm-container-body">
                        <div class="ibm-columns ajfw-form">
                            <div class="ibm-col-4-2 ibm-textcolor-gray-50">
                                <p class="ibm-small">
                                    <label class="ibm-column-field-label" for="__REPLACE_ME_1__">案件状态&nbsp;&nbsp;</label>
                                    <span>
                                    <select multiple data-placeholder="Select one" ng-model="caseSelected" data-widget="selectlist" northstar-select>
                                        <option ng-repeat="item in ::caseStatusList" value ="{{::item.id}}" translate>{{::item.name}}</option>
                                    </select>
                                    </span>
                                </p>
                                <p class="ibm-small" id="selectedArea">
                                    
                                </p>
                                <p class="ibm-small">
                                    <label class="ibm-column-field-label" for="__REPLACE_ME_1__">报修区间&nbsp;&nbsp;</label>
                                    <span>
                                        <input class="ibm-small" data-widget="datepicker" type="text" value="" size="15" ng-model="dateObj.dateBegin" northstar-datepicker>
                                    </span>
                                    
                                    to
                                    
                                    <span>
                                        <input class="ibm-small" data-widget="datepicker" type="text" value="" size="15" ng-model="dateObj.dateEnd" northstar-datepicker>
                                    </span>
                                </p>
                                
                                <p class="ibm-small">
                                    <label class="ibm-column-field-label" for="__REPLACE_ME_1__">机器类型&nbsp;&nbsp;</label>
                                    <span>
                                        <select id="selectType">
                                            <option value ="">Select One</option>
                                            <option value ="volvo">Volvo</option>
                                            <option value ="saab">Saab</option>
                                            <option value="opel">Opel</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                    </span>
                                </p>
                                <p class="ibm-small">
                                    <label class="ibm-column-field-label" for="__REPLACE_ME_1__">机器型号&nbsp;&nbsp;</label>
                                    <span>
                                        <select id="selectNum">
                                            <option value ="">Select One</option>
                                            <option value ="volvo">Volvo</option>
                                            <option value ="saab">Saab</option>
                                            <option value="opel">Opel</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                    </span>
                                </p>
                                <p class="ibm-small" id="machineArea">
                                    
                                </p>
                            </div>
                            
                            <div class="ibm-col-4-2 ibm-textcolor-gray-50">
                                <p class="ibm-small">
                                    <label class="ibm-column-field-label" for="__REPLACE_ME_1__">机器序号&nbsp;&nbsp;</label>
                                    <span>
                                        <input class="ibm-small" type="text" value="" size="26" id="__REPLACE_ME_3__" name="first_name">&nbsp;
                                    </span>
                                </p>
                                
                                <p class="ibm-small">
                                    <label class="ibm-column-field-label" for="__REPLACE_ME_1__">客户名称&nbsp;&nbsp;</label>
                                    <span>
                                        <input class="ibm-small" type="text" value="" size="26" id="__REPLACE_ME_4__" name="first_name">&nbsp;
                                    </span>
                                </p>
                                
                                <p class="ibm-small">
                                    <label class="ibm-column-field-label" for="__REPLACE_ME_1__">客户编号&nbsp;&nbsp;</label>
                                    <span>
                                        <input class="ibm-small" type="text" value="" size="26" id="__REPLACE_ME_5__" name="first_name">&nbsp;
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="ibm-columns ibm-padding-top-1">
                            <div class="ibm-col-1-1">
                                <p><input type="button" class="ibm-btn-pri ibm-btn-blue-50" name="__REPLACE_ME__" value="{{'CASE.BTN_SEARCH' | translate}}" ng-click="goToListByStatus('search',true, 'searchCase')"></p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>  
    </div>
    
    
    <div class="ibm-columns ibm-padding-top-1 ibm-padding-bottom-2">
        <div class="ibm-col-1-1">
            
<!--             <table id="test1table" data-widget="datatable" data-col-reorder="true" data-info="true" data-ordering="true" data-paging="true" data-searching="true" class="ibm-data-table ibm-altrows ajfw-table" data-init="false" data-order='[[1,"asc"],[0,"asc"],[3,"asc"]]'  northstar-angular-datatable ng-table-columns="columns" ng-table-data="items">
                <thead>
                    <tr>
                        <th>客户名称</th>
                        <th>案件号</th>
                        <th>状态</th>
                        <th>序列号</th>
                        <th>保修时间</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table> -->

            <table id="test1table" data-tablerowselector="enable" data-widget="datatable" class="ibm-data-table" data-ordering="true"  data-column-defs='[{"targets":"no-sort","orderable":false}]' data-order='[]' data-paging="true" northstar-angular-datatable >
    <caption>This is the table caption</caption>
    <thead>
        <tr>
            <th scope="col" class="no-sort">
                <span class="ibm-checkbox-wrapper">
                    <input id="__REPLACE_ME_1__" type="checkbox" class="ibm-styled-checkbox"/>
                    <label for="__REPLACE_ME_1__"><span class="ibm-access">Select row</span></label>
                </span>
            </th>
            <th scope="col" class="ibm-numeric">Item</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Active</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col" class="ibm-sort">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">
                <span class="ibm-checkbox-wrapper">
                    <input id="__REPLACE_ME_2__" type="checkbox" class="ibm-styled-checkbox"/>
                    <label for="__REPLACE_ME_2__"><span class="ibm-access">Select row</span></label>
                </span>
            </td>
            <td class="ibm-numeric"><a href="#">18739</a></td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>Red</td>
            <td>Dec 2, 2010</td>
            <td>yes</td>
            <td>Berkeley</td>
            <td>CA</td>
            <td>$1,234.56</td>
        </tr>
        <tr>
            <td scope="row">
                <span class="ibm-checkbox-wrapper">
                    <input id="__REPLACE_ME_3__" type="checkbox" class="ibm-styled-checkbox"/>
                    <label for="__REPLACE_ME_3__"><span class="ibm-access">Select row</span></label>
                </span>
            </td>
            <td class="ibm-numeric">98302</td>
            <td>Tellus at vehicula viverra</td>
            <td>Blue</td>
            <td>Nov 10, 2010</td>
            <td>no</td>
            <td>New York</td>
            <td>NY</td>
            <td>$25,000</td>
        </tr>
        <tr>
            <td scope="row">
                <span class="ibm-checkbox-wrapper">
                    <input id="__REPLACE_ME_4__" type="checkbox" class="ibm-styled-checkbox"/>
                    <label for="__REPLACE_ME_4__"><span class="ibm-access">Select row</span></label>
                </span>
            </td>
            <td class="ibm-numeric">87302</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>Green</td>
            <td>June 2, 2010</td>
            <td>may be</td>
            <td>Los Angels</td>
            <td>CA</td>
            <td>$18,000</td>
        </tr>
        <tr>
            <td scope="row">
                <span class="ibm-checkbox-wrapper">
                    <input id="__REPLACE_ME_5__" type="checkbox" class="ibm-styled-checkbox"/>
                    <label for="__REPLACE_ME_5__"><span class="ibm-access">Select row</span></label>
                </span>
            </td>
            <td class="ibm-numeric">602408</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>Yellow</td>
            <td>June 2, 2010</td>
            <td>may be</td>
            <td>Berkely</td>
            <td>CA</td>
            <td>$10,000</td>
        </tr>
        <tr>
            <td scope="row">
                <span class="ibm-checkbox-wrapper">
                    <input id="__REPLACE_ME_6__" type="checkbox" class="ibm-styled-checkbox"/>
                    <label for="__REPLACE_ME_6__"><span class="ibm-access">Select row</span></label>
                </span>
            </td>
            <td class="ibm-numeric">18739</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>Red</td>
            <td>Dec 2, 2010</td>
            <td>yes</td>
            <td>Berkeley</td>
            <td>CA</td>
            <td>$1,234.56</td>
        </tr>
                        <tr>
            <td scope="row">
                <span class="ibm-checkbox-wrapper">
                    <input id="__REPLACE_ME_7__" type="checkbox" class="ibm-styled-checkbox"/>
                    <label for="__REPLACE_ME_7__"><span class="ibm-access">Select row</span></label>
                </span>
            </td>
            <td class="ibm-numeric"><a href="#">18739</a></td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>Red</td>
            <td>Dec 2, 2010</td>
            <td>yes</td>
            <td>Berkeley</td>
            <td>CA</td>
            <td>$1,234.56</td>
        </tr>
         
    </tbody>
</table>  
        </div>
    </div>
    
    <!---- overlay ----->
    <div class="ibm-common-overlay ibm-overlay-alt-three cloud-overlay" data-widget="overlay" id="fwaj-overlay" northstar-angular-overlay>
        <div data-widget="dyntabs" class="ibm-graphic-tabs" northstar-angular-dyntabs>
            <!-- Tabs here: -->
            <div class="ibm-tab-section">
                <ul class="ibm-tabs" role="tablist">
                    <li><a aria-selected="true" role="tab" href="#fwaj-tab1" class="ibm-h4 ibm-textcolor-gray-40">案件资讯</a></li>
                    <li><a role="tab" href="#fwaj-tab2" class="ibm-h4 ibm-textcolor-gray-40">服务详情</a></li>

                </ul>
            </div>
            <!-- Tabs contents divs: -->
            <div id="fwaj-tab1" class="ibm-tabs-content">
                <div class="ibm-columns">
                    <div class="ibm-col-4-2">
                        <table class="ibm-data-table ibm-padding-small">
                            <thead>
                                <tr>
                                    <th>P4FKDK5</th>
                                    <th class="ibm-textcolor-blue-30">到场延迟</th>
                                </tr>
                            </thead>
                         
                            <tbody class="ibm-small">
                                <tr>
                                    <td>RCMS Call No.</td>
                                    <td>P4FKDK5</td>
                                </tr>
                                <tr>
                                    <td>案件状态</td>
                                    <td>到场延迟</td>
                                </tr>
                                <tr>
                                    <td>报修时间</td>
                                    <td>17-06-19 14：20</td>
                                </tr>
                                <tr>
                                    <td>最后更新时间</td>
                                    <td>17-06-19 14：38</td>
                                </tr>
                                <tr>
                                    <td>另约时间信息</td>
                                    <td>17-06-19 20：00</td>
                                </tr>
                                <tr>
                                    <td>指派工程师</td>
                                    <td>YING ZHUO YUAN</td>
                                </tr>
                                <tr>
                                    <td>工程师联系电话</td>
                                    <td>13978694786</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ibm-col-4-2">
                        <table class="ibm-data-table ibm-padding-small">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody class="ibm-small">
                                <tr>
                                    <td>客户名称</td>
                                    <td>江西银行股份有限公司</td>
                                </tr>
                                <tr>
                                    <td>客户编号</td>
                                    <td>882958</td>
                                </tr>
                                <tr>
                                    <td>客户姓名</td>
                                    <td>SSR 袁英卓 /MR 胡</td>
                                </tr>
                                <tr>
                                    <td>客户电话</td>
                                    <td class="ibm-textcolor-blue-30">0791-86790611</td>
                                </tr>
                                <tr><td colspan="2">&nbsp;</td></tr>
                                <tr>
                                    <td>类型</td>
                                    <td>8286</td>
                                </tr>
                                <tr>
                                    <td>型号</td>
                                    <td>42A</td>
                                </tr>
                            </tbody>
                        </table>
                                
                    
                    </div>
                </div>
            </div>
            <div id="fwaj-tab2" class="ibm-tabs-content">
                <div class="ibm-columns fwaj-status-row ibm-alternate-background">
                    <div class="ibm-col-5-1">
                        <p class="ibm-padding-top-1">Call No.： <span>F007GA</span></p>
                        <p>当前状态： <span>复杂拷机</span></p>
                        <p>报修时间： <span>16-10-10 12:50</span></p>
                    </div>
                    <div class="ibm-col-5-1">
                        
                        <p class="ibm-padding-top-1"><span class="fwaj-status">处理中</span></p>
                    </div>
                </div>
                
                <div class="status-timeline">
                    <p class="status-current">
                        <span>已指派案件给工程师</span>
                        <span>SSR: 325456562</span>
                        <span>2017-07-03 11:11:11</span>
                    </p>
                    <p>
                        <span>工程师正在狂奔</span>
                        <span>SSR: 325456562</span>
                        <span>2017-07-03 11:11:11</span>
                    </p>
                    <p>
                        <span>工程师已接受指派</span>
                        <span>SSR: 325456562</span>
                        <span>2017-07-03 11:11:11</span>
                    </p>
                    <p>
                        <span>工程师已到场</span>
                        <span>SSR: 325456562</span>
                        <span>2017-07-03 11:11:11</span>
                    </p>
                </div>
            </div>
            <p class="ibm-rule ibm-padding-bottom-0 ibm-padding-top-1 ibm-margin-top-1">
                <span class="ibm-input-group sbgl-checkbox">
                <input class="ibm-styled-checkbox" id="__REPLACE_ME_22bb__" name="checkbgrp2" type="checkbox" value="是否加入追踪案件" /> <label for="__REPLACE_ME_22bb__">是否加入追踪案件</label>
                </span>
            </p>
        </div>
    </div>
   <!-- ibm-content-main --- end -->
 </div>