@charset "UTF-8";
/* CSS Document */
#ibm-content-body{padding-top:0px!important;}
.ibm-bold{font-weight:bold!important;}
.band-no-padding{padding-bottom:0px; padding-top:0px;}
#ibm-footer .select2{display:none;}

input[data-widget="datepicker"]{font-size:12px;}
input[type="text"]{border:1px solid #cccccc; appearance:none; -webkit-appearance:none;}
.ibm-btn-white{border:1px solid #cccccc!important; padding-top:4px!important; padding-bottom:4.5px!important;}

.ibm-mh-marketplace-link{display:none;}
#ibm-search-module{display:none;}
.ibm-show-hide.cloud-show-hide > h2 span{display:inline-block;}
.ibm-show-hide.cloud-show-hide > h2 span:nth-child(1){padding-right:30px;}
.ibm-show-hide.cloud-show-hide > h2 a{padding-left:0px; border:none;}
.ibm-show-hide.cloud-show-hide > h2 a:hover{text-decoration:none; color:#323232;}
.ibm-show-hide.cloud-show-hide > h2 a:before{content:"";}
.ibm-show-hide.cloud-show-hide > h2 a.ibm-show-active{color:#323232;}
.ibm-show-hide.cloud-show-hide > h2 a.ibm-show-active:before{content:"";}
.ibm-show-hide.cloud-show-hide > h2 a:after{content:url(../images/open.png); position:absolute; right:0px;} 
.ibm-show-hide.cloud-show-hide > h2 a.ibm-show-active:after{content:url(../images/close.png); position:absolute; right:0px;}

.ibm-show-hide.cloud-show-hide.index > h2 a.ibm-show-active{color:#323232;}
.ibm-show-hide.cloud-show-hide.index > h2 a.ibm-show-active{color:#fff;}
.ibm-show-hide.cloud-show-hide.index > h2 a:hover{text-decoration:none; color:#fff;}
.ibm-show-hide.cloud-show-hide.index > h2 a:after{content:url(../images/open_w.png); position:absolute; right:0px;} 
.ibm-show-hide.cloud-show-hide.index > h2 a.ibm-show-active:after{content:url(../images/close_w.png); position:absolute; right:0px;}

.cloud-overlay table.ibm-data-table{width:100%;}
.cloud-overlay table.ibm-data-table tbody tr + tr{border-top:none;}
.cloud-overlay table.ibm-data-table thead tr{border-bottom:none;}
.cloud-overlay .ibm-tabs {background:none;}
.cloud-overlay .ibm-tabs li{background:none; width:115px; max-width:100%; flex:none;}
.cloud-overlay .ibm-graphic-tabs .ibm-tabs li a:hover::after, .cloud-overlay .ibm-graphic-tabs .ibm-tabs li a[aria-selected="true"]::after{border-bottom-color:#5596E6;}
.cloud-overlay .ibm-tabs li.ibm-active a{color:#5596e6;}
.cloud-overlay .ibm-columns{width:100%; box-sizing:border-box; padding:0px;}
.cloud-overlay .ibm-columns .ibm-col-4-2{padding:0px; max-width:100%; width:440px;}
.cloud-overlay{border-top:10px solid #4178BE; border-bottom:10px solid #4178BE;}
/************** login **************/
.ibm-cloud-login{background-image: url("../images/login_bg.png"); background-repeat: no-repeat; background-position:left top;}
.ibm-cloud-bold{font-weight:bold;}
.ibm-cloud-login-button{width:100%;}
.ibm-cloud-forgot{float:right; font-size:14px;}
.ibm-cloud-login-name{background-image: url("../images/name_bg.png"); background-repeat: no-repeat; background-position:8px 50%; padding-left:30px; width:100%;}
.ibm-cloud-login-pw{background-image: url("../images/pw_bg.png"); background-repeat: no-repeat; background-position:8px 50%; padding-left:30px; width:100%;}
.ibm-cloud-login label{float:left!important;}

/************** index **************/
.ibm-cloud-main-bg{background-image: url("../images/main_bg.png"); background-repeat: no-repeat; background-position:left top; border-bottom:none!important;}
.ibm-cloud-main-band-bg{background:#25a9df; background-image: url("../images/main_band_bg.jpg"); background-repeat: no-repeat; background-position:left top;}
.ibm-textcolor-lbule{color:#aee2fa;}


.main-3-box-top{min-height:20px; border-bottom:1px solid #b7b7b7;}

.main-3-box-top span:nth-child(1){display:inline-block; width:50%; box-sizing:border-box;}
.main-3-box-top span:nth-child(2){display:inline-block; width:50%; text-align:right; box-sizing:border-box;}
.main-3-box-top span:nth-child(2) a{background-image: url("../images/main_link_icon.png"); background-repeat: no-repeat; background-position:right 50%; padding-right:30px;}
.main-3-box-1, .main-3-box-2{padding:20px 0px 0px 0px;}
.main-3-box-1 p, .main-3-box-2 p{width:50%; box-sizing:border-box; display:inline-block; padding-bottom:0px;}
.main-3-box-1 p:nth-last-child(1), .main-3-box-2 p:nth-last-child(1){text-align:right;}
.main-3-box-3-text{padding:30px 0px 0px 0px;}
.main-3-box-3-text span{display:inline-block; width:33.33%; text-align:center;}

/************** fwaj **************/
.ibm-cloud-ajfw-bg{background-image: url("../images/ajfw_bg.png"); background-repeat: no-repeat; background-position:left top; border-bottom:none!important;}
.ibm-cloud-ajfw-sum{background-image: url("../images/ajfw_icon.png"); background-repeat: no-repeat; background-position:left top; min-height:141px; padding-left:185px;}
.ibm-calendar-link{display:none;}
input[data-widget="datepicker"]{background-image: url("../images/date_icon.png"); background-repeat: no-repeat; background-position:right 50%; border:1px solid #bfbfbf;}
.ajfw-table tr th:nth-child(1){min-width:80px;}
.ajfw-table tr th:nth-child(2){min-width:80px;}
.ajfw-table tr th:nth-child(3){min-width:80px;}
.ajfw-form input[type="text"]{max-width:70%; box-sizing:border-box;}

.ajfw-table thead th:nth-last-child(1){background:none;}
.ajfw-table thead th:nth-last-child(1):hover{text-decoration:none;}

.fwaj-status{display:block; background:#fff; color:#006fb8; padding:5px 10px; border-radius:5px; box-sizing:border-box; max-width:100%; width:100px; text-align:center; text-shadow:none;}
.fwaj-status-row{background:#25a9df; background-image: url("../images/xtsz_bg.png"); background-repeat: no-repeat; background-position:left top;}
.fwaj-status-row p{text-shadow:0px 1px 1px rgba(0,0,0,0.7);}

.status-timeline{padding-top:15px;}
.status-timeline p{border-left:2px dotted #cccccc; margin:0px 10px; position:relative;}
.status-timeline p:nth-last-child(1){padding-bottom:0px; border-left:none;}
.status-timeline p span{display:block; padding-left:30px; line-height:normal!important; color:#cccccc;}
.status-timeline p span:nth-last-child(1){font-size:12px; border-bottom: 1px solid #eeeeee; padding-bottom:15px; margin-left:30px; padding-left:0px;}

.status-timeline p.status-current span{color:#4288e6;}

.status-timeline p::before{content:url(../images/status_up.png); position:absolute; left:-8px; top:0px;}
.status-timeline p:nth-last-child(1)::before{left:-7px; width:16px; height:16px; border-radius:15px; background:#cccccc; content:"";}
.status-timeline p.status-current::before{content:"新"; position:absolute; left:-10px; top:-5px; width:20px; height:20px; border-radius:15px; background:#4288e6; color:#fff; font-size:9px; display: flex; -webkit-justify-content: center; justify-content: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}

/************** sbgl **************/
.ibm-cloud-sbgl-bg{background-image: url("../images/sbgl_bg.png"); background-repeat: no-repeat; background-position:left top; border-bottom:none!important;}
.ibm-cloud-sbgl-sum{background-image: url("../images/sbgl_icon.png"); background-repeat: no-repeat; background-position:left top; min-height:141px; padding-left:160px;}
.sbgl-checkbox label{margin-top:5px;}
.sbgl-table tr th:nth-child(1){min-width:80px;}
.sbgl-table tr th:nth-child(2){min-width:80px;}
.sbgl-table tr th:nth-child(3){min-width:80px;}
.sbgl-form input[type="text"]{max-width:70%; box-sizing:border-box;}
.sbgl-table thead th:nth-last-child(1){background:none;}
.sbgl-table thead th:nth-last-child(1):hover{text-decoration:none;}

.sbgl-tabs .ibm-tabs {background:none;}
.sbgl-tabs .ibm-tabs li{background:none; width:115px; max-width:100%; flex:none; border:none;}


/************** xxtz **************/
.ibm-cloud-xxtz-bg{background-image: url("../images/xxtz_bg.png"); background-repeat: no-repeat; background-position:left top; border-bottom:none!important;}
.xxtz-table .dataTables_length{display:none!important;}
.ibm-dot-line{border-bottom:1px dotted #bec0c2;}
.ibm-dot-line a{line-height:5px; min-width:50px; font-size:14px; margin-left:20px;}
.xxtz-table tr th:nth-child(1){min-width:20px;}
.xxtz-table tr th:nth-child(2){min-width:60px;}
.xxtz-table tr th:nth-child(3){min-width:40px;}
.xxtz-table table .ibm-btn-pri, .ajfw-table .ibm-btn-pri, .sbgl-table .ibm-btn-pri{padding-top:5px; padding-bottom:5px;}
 
/************** jkzx **************/
.ibm-cloud-jkzx-bg{background-image: url("../images/jkzx_bg.png"); background-repeat: no-repeat; background-position:left top; border-bottom:none!important;}
.xxtz-checkbox label{margin:10px 40px 10px 0px;}
.xxtz-checkbox label:nth-last-child(1){margin-right:0px;}
.jkzx-btn{line-height:5px; min-width:50px; font-size:14px;}
.jkxq-content{display:inline-block; width:50%; max-width:100%;}
.jkxq-date{max-width:100%; display:inline-block; padding:10px 0px;}

.jkzx-tabs .ibm-tabs {background:none;}
.jkzx-tabs .ibm-tabs li{background:none; width:115px; max-width:100%; flex:none; border:none;}
.jkzx-tabs .ibm-tabs li.ibm-active a{color:#5aaafa;}
.jkzx-tabs .ibm-tabs li a:hover::after, .jkzx-tabs .ibm-tabs li a[aria-selected="true"]::after{border-bottom-color:#5596E6;}

#jq-tab2 select{-webkit-appearance: none; -moz-appearance: none; appearance: none; padding:3px 8px; border: 1px solid #cccccc; width:90px; background-image: url("../images/d_arrow.png"); background-repeat: no-repeat; background-position:right 50%;}
#jq-tab2 .jq-span{margin-right:10px;}
#jq-tab2 .ibm-col-5-3 p:nth-child(1){padding-top:5px;}
#jq-tab2 .ibm-col-5-3 p, #jq-tab2 .ibm-col-5-2 p{padding-bottom:0px;}
.jkzx-table thead tr th:nth-child(1), .jkzx-table thead tr th:nth-child(2){min-width:50px;}

/************** xtsz **************/
.ibm-cloud-xtsz-bg{background-image: url("../images/xtsz_bg.png"); background-repeat: no-repeat; background-position:left top; border-bottom:none!important;}
.xtsz-tabs .ibm-fluid{padding-left:0px; padding-right:0px;}
.xtsz-tabs .ibm-fluid > div:nth-child(1){padding-left:0px; padding-right:0px; background:#ebf8fd;}
.xtsz-tabs .ibm-fluid > div:nth-child(2){padding-left:20px;}
.xtsz-tabs .ibm-tabs li{background:none!important;}
.xtsz-tabs .ibm-tabs{background:none!important;}
.xtsz-tabs .ibm-tabs li a[aria-selected="true"]:after{border:none!important;}
.xtsz-tabs .ibm-tabs li.ibm-active a{background:#006fb8; font-family:HelvRegularIBM!important; color:#fff;}
.xtsz-tabs .ibm-tabs li a:hover, .xtsz-tabs .ibm-tabs li.ibm-active a:hover{background:#006fb8; color:#fff;}
.xtsz-tabs input[type="text"]{max-width:70%; box-sizing:border-box;}
.xtsz-tabs label{min-width:80px; display:inline-block;}
.xtsz-tabs .ibm-data-table td{word-break:break-all;}
.xtsz-tabs .ibm-data-table tbody tr.sys-row{font-weight:bold; background: #ececec;}
.xtsz-tabs .ibm-data-table thead th{background: #ececec;}
.xtsz-tabs .ibm-data-table thead tr{border-bottom:1px solid #e0e0e0;}
.xtsz-tabs .ibm-data-table tr td:not(:first-child){color:#5596E6;}

/************** yhxx **************/
.ibm-cloud-yhxx-bg{background-image: url("../images/yhxx_bg.png"); background-repeat: no-repeat; background-position:left top; border-bottom:none!important;}
.yhxx-table{border-top:1px solid #5a5a5a; border-bottom:1px solid #5a5a5a;}
.yhxx-table tr td:nth-child(1){width:75%; word-break:break-all; word-wrap:break-word;}
.ibm-nested-img{float:left; margin-right:20px; max-width:100%; box-sizing:border-box;}
